
<h1>Create recipe</h1>

<form method="post" action="/recipes/create">
  <p>
    <label>Title:</label>
    <input type="text" name="title">
  </p>
  <p>
      <label>Persons:</label>
      <input type="number" name="persons">
  </p>
  <p>
      <label>description:</label>
      <input type="text" name="description">
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>
</form>