
<h1>Forgotten password</h1>

<form method="post" action="/forgotten-password">
  <p>
    <label>email:</label>
    <input type="text" name="email">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>