
<h1>Register</h1>
<form method="post" action="/register">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Email:</label>
    <input type="text" name="email">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <label>Password again:</label>
    <input type="text" name="pw_again">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>