<h1>Reset password</h1>


<form method="post" action="/reset-password">
  <input type="hidden" name="token" value="<%= token %>">
  <p>
    <label>New password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>